.header-bg {
    background-color: var(--cor-12);
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    gap: 20px;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu a {
    padding: 16px 8px;
    color: white;
    border-radius: 4px;
    transition: .3s ease-out;
    position: relative;
}

.header-menu a::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--cor-0);
    display: block;
    position: absolute;
    bottom: 8px;
    left: 0;
    transition: .3s ease-in-out;
}

.header-menu a:hover::after {
    width: 100%;
}