/* .menu-mobile {
    padding: 15px;
    cursor: pointer;
    display: none;
}

.menu-hamb {
    width: 30px;
    height: 4px;
    background: var(--cor-0);
    border-radius: 4px;
    position: relative;
    transition: all .5s ease;
}

.menu-hamb::after {
    content: '';
    width: 30px;
    height: 4px;
    background: var(--cor-0);
    border-radius: 4px;
    position: absolute;
    top: 8px;
}
.menu-hamb::before {
    content: '';
    width: 30px;
    height: 4px;
    background: var(--cor-0);
    border-radius: 4px;
    position: absolute;
    bottom: 8px;
}

.menu-hamb.ativo {
    transform: rotate(-135deg);
}

.menu-hamb.ativo::after {
    opacity: 0;
}

.menu-hamb.ativo::before {
    transform: rotate(270deg);
    top: 0px;
*/

.menu-mobile {
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    display: none;
}

.menu-hamb {
    width: 40px;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-hamb::before,
.menu-hamb::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    transition: all .4s ease-in-out;   
}

.menu-hamb::before {
    transform: translateY(-10px);
}

.menu-hamb::after {
    transform: translateY(10px);
}

.menu-mobile.ativo .menu-hamb {
    background: transparent;
}

.menu-mobile.ativo .menu-hamb::before {
    transform: rotate(45deg) translate(-2px, -2.5px);
}

.menu-mobile.ativo .menu-hamb::after {
    transform: rotate(-45deg) translate(2.5px, -2.5px);

}

@media (max-width: 800px) {
    .header-menu {
        background: var(--cor-11);
        position: fixed;
        top: 74px;
        right: -300px;
        width: 80%;
        height: calc(100vh - 74px);
        flex-direction: column;
        padding: 30px;
        justify-content: space-around;
        align-content: flex-start;
        transition: .3s ease;
        z-index: 3;
        opacity: 0;
    }

    .header-menu.ativo {
        background: var(--cor-11);
        position: absolute;
        top: 74px;
        right: 0px;
        width: 80%;
        height: calc(100vh - 74px);
        flex-direction: column;
        padding: 40px;
        justify-content: space-around;
        align-content: flex-start;
        opacity: 1;
    }

    .menu-mobile {
        display: flex;
    }
}